extends layout

block content
  h1= title
  if (user)
    p Welcome - #{user.fullname}
    if (user.member)
      p You are a member!
    else
      p You are not a member!
    if (user.member)
      a(href='/create-message') Create new message
    a(href='/logout') Logout
  else
    p Welcome to #{title}
    div.links
      a(href='/login') Login
      a(href='/sign-up') Sign up
      
  if (messages.length)
    each message in messages
      div.message-box(style='border: 1px solid black; padding: 10px; margin: 10px;')
        p.title(style='font-weight: bold;')= message.title
        p.text= message.text
        p.author #{message.user.fullname} - 
          span.username(style='font-style: italic;') @#{message.user.username}
        p.date= message.date

        if (user && user.admin) 
          form(action="", method="post") 
            input#messageId(type='hidden', name='messageId', value=message._id, required=true)
            button(type="submit") Delete
  else
    p No messages yet!